@import 'styles/shared.scss';

.formContent {
    margin-bottom: to-rem(32);
}

.saveChanges {
    color: color(White);
    font-size: to-rem(16);
    line-height: to-rem(18);

    &Btn {
        background: color(Jaffa);
        border: none;
        border-radius: to-rem(2);
        cursor: pointer;
        outline: color(Jaffa);
        padding: to-rem(20 57 20 58);

        &:hover {
            background-color: darken(color(Jaffa), 5%);
        }
    }
}