// http://chir.ag/projects/name-that-color
$palette: (
  Black: #240F00,
  White: #fff,
  DoveGray: #737373,
  Blackberry: #4D0032,
  Nero: #240F00,
  Mercury: #E5E5E5,
  Pampas: #F8F7F6,
  Lima: #6bdd0e,
  Carnation: #fd5263,
  Jaffa: #F58634,
  Gray: #ddd,
  MercuryVar1: #E7E7E7,
  Alto: #D3D3D3,
  Bone: #EBDACE,
  NewYorkPink : #D9887C,
  Boulder: #777,
  PickledBluewood: #2E384D,
  DoveGrayVar1: #666,
);
